<div class="card-banner">
		{{ fields.field_banner_image.content }}
	<span>{{ fields.field_price_tag.content }}</span>
</div>
<div class="card-details">
	<h2>{{ fields.title.content }}</h2>
	<div class="managment">
		<img src="/themes/custom/specbee/images/tags.svg" alt="tags"/>
		{{ fields.field_management.content }}
	</div>
	<div class="card-date">
		<img src="/themes/custom/specbee/images/date.svg" alt="Date"/>
		{{ fields.field_date.content }}
	</div>
	<div class="card-location">
		<img src="/themes/custom/specbee/images/location.svg" alt="Location"/>
		{{ fields.field_location.content }}
	</div>
</div>
<div class="view-details">
	<span class="heart"></span>
	<span class="download"></span>
	<span class="share"></span>
	<div>{{ fields.view_node.content }}</div>
</div>
